.important__container {
  background-color: $secondary-color;
  width: 100%;
  min-height: pxToRem(179);
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  gap: pxToRem(30);
  padding-left: pxToRem(30);
span {
  font-size: pxToRem(36);
  font-weight: 600;
}
  p {
    font-size: pxToRem(22);
    line-height: 1.364;
  }
}