.header__container {
  background-image: url(src/assets/Home-Hero-Image.jpg);
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position: center 20rem;
  min-height: pxToRem(930);
  max-height: 100vh;
  position: relative;

  @media only screen and (min-width: 1200px) {
    background-position: -20rem center;
    background-size: 70% auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.5;
    z-index: 0;
    @media only screen and (min-width: 1200px) {
      opacity: 0;
    }
  }
}

nav {
  padding-top: 1rem;
  padding-inline: 2rem;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: end;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  align-items: center;
}

.menu__login {
  a {
    text-decoration: none;
    color: $third-color;
    font-size: pxToRem(13);
    font-family: $font-base;

    &:hover {
      color: black;
      scale: 1.1;
    }
  }

  .menu__email {
    color: #000000;
    font-size: pxToRem(14);
  }

  .menu__oddaj {
    color: #000000;
    font-size: pxToRem(13);

    &:hover {
      scale: 1.1;
      color: black;
    }
  }

  .menu__wyloguj {
    color: $third-color;
    font-size: pxToRem(12);
    cursor: pointer;

    &:hover {
      scale: 1.1;
      color: black;
    }
  }

  .menu__ramka {
    border: pxToRem(0.75) solid $secondary-color;
    padding-top: pxToRem(7);
    padding-bottom: pxToRem(7);
    width: pxToRem(90);
    text-align: center;
  }

  .menu__ramka1 {
    border: pxToRem(0.75) solid transparent;
    padding-top: pxToRem(7);
    padding-bottom: pxToRem(7);
    width: pxToRem(90);
    text-align: center;
  }

  .hamburger {
    //position: absolute;
    //top: pxToRem(10);
    //right: pxToRem(8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
    @media only screen and (min-width: 558px) {
      display: none;
    }

    span {
      height: 0.4rem;
      width: 100%;
      background-color: $fourth-color;
      border-radius: 0.2rem;
      z-index: 1;
    }
  }

}

.menu__ramka2 {
  border: pxToRem(0.75) solid $fourth-color;
  padding-top: pxToRem(9);
  padding-bottom: pxToRem(9);
  width: pxToRem(80);
  text-align: center;
}

.menu__ramka3 {
  border: pxToRem(0.75) solid transparent;
  padding-top: pxToRem(9);
  padding-bottom: pxToRem(9);
  width: pxToRem(80);
  text-align: center;
}


.menu__home {
  gap: 1.5rem;
  font-size: 1.125rem;
  color: $fourth-color;
  font-family: $font-base;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  &.open {
    display: flex;
  }
  @media only screen and (min-width: 585px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }



  ul {
    width: 100%;
    margin-bottom: 0.25rem;
  }

  a {
    text-decoration: none;
    font-size: 1.125rem;
    color: $fourth-color;
    font-family: $font-base;
    text-align: center;
    //margin: 0.2rem 0.5rem;

    //@media only screen and (min-width: 558px){
    //  margin: 0;
    //}
    &:hover {
      color: black;
    }
  }

  li {
    text-align: center;
    @media only screen and (min-width: 558px) {

    }

    &:hover {
      scale: 1.1;
    }
  }
}

.hero__container {
  display: flex;
  justify-content: end;
  align-items: center;

  .hero__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12.75rem;
    text-align: center;
    margin-right: pxToRem(40);
    color: $fourth-color;
    position: relative;
    z-index: 1;
    gap: 1rem;

    p {
      font-size: 2.375rem;
      text-align: center;
      line-height: 1.4474;
      letter-spacing: -0.0475rem;
      font-weight: 400;
    }

    .hero__btn {
      margin-top: 1rem;
      max-width: 42.125rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      gap: 1rem;
      font-weight: 300;
      @media only screen and (min-width: 700px) {
        display: flex;
        justify-content: center;
        flex-direction: row;

        a, button {
          cursor: pointer;
        }
        a {
          &:hover {
            scale: 1.1;
            color: black;
          }
        }
      }

      a {
        text-decoration: none;
        width: 40%;
        border: 0.046875rem solid $fourth-color;
        background-color: #fff;

        button {
          border: none;
          background-color: #fff;
          font-size: 36px;
          text-transform: uppercase;
          font-weight: 300;
          color: $fourth-color;
          font-family: $font-base;
          line-height: 1.25;
        }
      }
    }
  }
}