.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;


  .login__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    .form__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      background-color: $base-color;
      width: 20rem;
      height: 10rem;
    }

    .btn__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}