.container__pagination {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: pxToRem(30);
  align-items: center;
  width: 100%;

  img {
    max-width: pxToRem(300);
  }

  h1 {
    font-size: pxToRem(38);
    margin-top: pxToRem(40);
  }

  .option__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(30);
    @media only screen and (min-width: 650px) {
      flex-direction: row;
    }

    div {
      font-size: pxToRem(24);
      padding: pxToRem(15) pxToRem(20);
      cursor: pointer;

      &.active {
        border: pxToRem(0.75) solid $fourth-color;
      }
    }
  }

  p {
    text-align: center;
    max-width: pxToRem(600);
    font-size: pxToRem(22);
    line-height: 1.36;
    color: $fourth-color;
    margin-top: pxToRem(30);
    margin-bottom: pxToRem(30);
  }
}

.container__option {
  width: 70%;
  text-align: left;

  .box__map {
    display: flex;
    //flex-direction: column;
    gap: pxToRem(20);
    border-bottom: pxToRem(0.75) solid $fourth-color;
    margin-top: pxToRem(20);
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: pxToRem(26);
      font-family: $font-alt;
      font-weight: 300;
      color: $fourth-color;
      line-height: 1.19;
    }

    .box__map1 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: pxToRem(5);
      width: 100%;

      p {
        text-align: left;
        font-size: pxToRem(18);
        margin-top: pxToRem(10);
        margin-bottom: pxToRem(20);
      }
    }
  }

  .box__pages {
    display: flex;
    gap: pxToRem(20);
    justify-content: center;
    margin-top: pxToRem(20);

    li {
      text-decoration: none;
      cursor: pointer;
      padding: pxToRem(15) pxToRem(20);
      transition: all 0.3s ease-in-out;


      &:hover {
        border: pxToRem(0.75) solid $third-color;
      }

      &.active {
        border: pxToRem(0.75) solid $third-color;
      }
    }
  }
}