.container__threeColumns {
  background-color: $secondary-color;
  min-height: pxToRem(384);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: pxToRem(30);
  padding-bottom: pxToRem(30);
  
  .container__columns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $primary-color;
    width: 100%;
    @media only screen and (min-width: 1050px) {
      flex-direction: row;
    }

    .box__column {
      display: flex;
      flex-direction: column;
      gap: pxToRem(20);
      width: 100%;
      max-width: pxToRem(334);

      .title {
        font-size: pxToRem(90);
        line-height: 1.356;
      }

      .subtitle {
        font-size: pxToRem(18);
        line-height: 1.125;
        letter-spacing: pxToRem(-0.36);
      }

      .text {
        font-size: pxToRem(16);
        line-height: 1.667;
        letter-spacing: pxToRem(-0.32);
      }
    }
  }
}