@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";
@import "components/homeHeader";
@import "components/threeColumns";
@import "components/loginRegister";
@import "components/giveAwaySection";
@import "components/aboutUs";
@import "components/formHeader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $font-base;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}

.btn {
  color: #000;
  font-size: pxToRem(18);
  font-family: $font-base;
  line-height: 1.78;
  text-align: center;
  font-weight: 300;
  background-color: #ffffff;
  width: pxToRem(117);
  height: pxToRem(50);
  border: pxToRem(0.75) solid $fourth-color;
  cursor: pointer;
}