@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";
@import "components/homeHeader";
@import "components/threeColumns";
@import "components/loginRegister";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $font-base;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1700px;
  padding: 1rem;
  margin: 0 auto;
}